

.axis text {
    font: 10px sans-serif;
}
.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.barChart {
    fill: steelblue;
    stroke: darkgray;
    stroke-width: 1px;
}

/*rect.barChart:hover {*/
/*fill: red;*/
/*}*/

.arc path {
    stroke: #fff;
}

.lines {
    stroke: steelblue;
    fill: none
}

.areas {
    stroke: none;
    fill: steelblue
}

circle {
    fill: steelblue;
}

.frame {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

/* Styles that clean up the layout;
 * you can ignore these */
/*div {*/
/*display: inline-block;*/
/*border: 1px solid lightgray;*/
/*margin: 1em;*/
/*}*/

/*div, span {*/
/*padding: 1em;*/
/*}*/
